html{
    margin: 0 auto !important;
}

body{
    background-color: var(--bs-EpicodeTemaColore5);
}

#navBar,
#footerBar{
    background-color: var(--bs-EpicodeTemaColore3)!important;
    color: rgb(250, 250, 250) !important;
}

#navBar a {
    color: rgb(250, 250, 250) !important;
}

.alert-bs-EpicodeTemaColore5 {
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: rgb(250, 250, 250) !important;
    background-color: var(--bs-EpicodeTemaColore2);
    border: var(--bs-border-width) solid var(--bs-EpicodeTemaColore1);
    border-radius: var(--bs-alert-border-radius);
}

.epiBookCard{
    background-color: var(--bs-EpicodeTemaColore2)!important;
    color: rgb(250, 250, 250) !important;
    margin-bottom: 20px !important;
}

.epiBookCard:hover{
    filter: brightness(130%)
}

.epiBookCard img{
    max-height: 33vh;
    min-height: 33vh;
}

.epiBookCard div{
padding: 3px 3px 0 3px;
}


.card-body{
    vertical-align: text-top;
    position: relative;
}

#wellcome{
margin-top: 70px;
}

.card-body button{
}

.btn-EpicodeTemaColore1 {
    --bs-btn-hover-bg: #a845a0;
    --bs-btn-hover-border-color: #9e3e98;
    --bs-btn-active-bg: #a845a0;
    --bs-btn-active-border-color: #9e3e98;
    --bs-btn-disabled-bg: #490f45;
    --bs-btn-disabled-border-color: #42143f;
}
.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-EpicodeTemaColore3) !important;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: rgb(148, 25, 131);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-EpicodeTemaColore1);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-EpicodeTemaColore1);
    --bs-dropdown-link-hover-bg: var(--bs-EpicodeTemaColore2);
    --bs-dropdown-link-active-color: var(--bs-btn-active-bg);
    --bs-dropdown-link-active-bg: var(--bs-EpicodeTemaColore1);
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    background-clip: padding-box;
    background-color: var(--bs-dropdown-bg);
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
    color: var(--bs-dropdown-color);
    font-size: var(--bs-dropdown-font-size);

}

.form-select {

    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#campoRicercaLibro{
    min-width: 20rem;
}

.selectedBook{
    filter: drop-shadow(0px 0px 10px #000000);
    background-color: #1b7b88 !important;
}

.selectedBook:hover{
    filter: drop-shadow(0px 0px 20px #000000);
}

.selectedBook:active{
    filter: drop-shadow(0px 0px 20px #000000);
}