body{
    background-color: var(--bs-EpicodeTemaColore5);
}

#navBar,
#footerBar{
    background-color: var(--bs-EpicodeTemaColore3)!important;
    color: rgb(235, 235, 235) !important;

}

#navBar a {
    color: rgb(235, 235, 235) !important;
}

.epiBookCard{
    background-color: var(--bs-EpicodeTemaColore2)!important;
    color: rgb(221, 221, 221) !important;
}

.epiBookCard:hover{
    filter: brightness(120%);
}

.epiBookCard img{
    max-height: 60%;
    min-height: 60%;

}

.card-body{
    vertical-align: text-top;
    position: relative;
}

.card-body button{
}